version: '3.8'

services:
  db:
    image: 'cockroachdb/cockroach:v24.1.0'
    command: 'start-single-node --insecure --http-addr :9090'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9090/health?ready=1']
      interval: '2s'
      timeout: '30s'
      retries: 5
    ports:
      - "26257:26257"
      - "9090:9090"

  zitadel:
    user: '${ZITADEL_DEV_UID}'
    image: '${ZITADEL_IMAGE:-ghcr.io/zitadel/zitadel:v2.58.3}'
    command: 'start-from-init --masterkey "MasterkeyNeedsToHave32Characters" --tlsMode disabled --config /zitadel.yaml --steps /zitadel.yaml'
    ports:
      - "8080:8080"
    volumes:
      - ./keys:/keys
      - ./zitadel.yaml:/zitadel.yaml
    healthcheck:
      test: ['CMD', '/app/zitadel', 'ready', "--config", "/zitadel.yaml"]
      interval: '2s'
      timeout: '30s'
      retries: 5
    depends_on:
      db:
        condition: 'service_healthy'

  setup:
    user: '${ZITADEL_DEV_UID}'
    container_name: setup
    build: .
    environment:
      KEYS_DIRECTORY: /keys
      SERVICE: http://zitadel:8080
    volumes:
      - "./keys:/keys"
    depends_on:
      zitadel:
        condition: 'service_healthy'
