---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

**Caution: Email can only be set verified if a password is set for the user, either with initial_password or during runtime**

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/provider/resources/human_user.tf" }}

{{ .SchemaMarkdown | trimspace }}