---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/provider/resources/idp_gitlab.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

The resource can be imported using the ID format `<id[:client_secret]>`, e.g.

```bash
terraform import {{ .Name }}.imported '123456789012345678:1234567890abcdef'
```

You can also declare an import block, for example if you'd like [to generate the configuration file](https://developer.hashicorp.com/terraform/language/import/generating-configuration).
