---
page_title: "Provider: ZITADEL"
description: |-
    Provider to manage resources on ZITADEL

---

# {{ .ProviderShortName | upper }} Provider

This provider allows the management of different resources on a ZITADEL instance.

Through this provider it is possible to interact with the [ZITADEL API](https://docs.zitadel.com/docs/apis/introduction) to configure different aspects of the instance.

Currently does not contain, but could be included in the future if demand exists:

- instance as resource
- policies and settings on instance level as resource
- custom text resources

Not planned to include as resources, as more administration task as a resource:

- Import and export of organizations
- (re-)setting of password for human user
- initializing of OTP setup for human user
- initializing of passwordless setup for human user

## Configuring the provider

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Limitations

The token which is used to connect to ZITADEL is currently limited to JWT-token for serviceaccounts, so you have to create a service account first, to download the key from this.